#left_view {
  color: rgb(0, 0, 0);
  border-radius: 5px;
  margin: 6px 6px;
  padding: 1rem;
  height: 2cm;
  background: #e6e6e6;
}

.trend_live p {
  border-radius: 10px;
  /* global 94%+ browsers support */
  background: linear-gradient(149deg, #833ab4 25%, #d400d4 64%, #ee82ee 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.trend_live .trend_1 {
  text-decoration: none;
  color: black;
  display: inline-table;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px #833ab4 solid;
  padding: 4px;
  margin: 2px;
  font-size: 10px;
}

.steam_View {
  background-color: #ffffff;
  height: 12.3cm;
  border-radius: 5px;
  margin: 10px 10px;
  padding: 1rem;
}
.media_bar {
  /* position: fixed; */
  text-align: center;
  align-items: center;
  background: #e6e6e6;
  color: #833ab4;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}
.media_button {
  color: #833ab4;
  padding: 2rem;
  margin: 1rem;
  display: inline;
}

.swiper {
  width: auto;
  height: 11cm;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide {
  background-color: #833ab4;
}
