@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;500;600;800&family=Signika:wght@300;400;500&display=swap');

.pagination .page-link {
  color: #833ab4;
}

.trend_card_slider .pod_slide {
  background-color: #9422f1;
}
.pod_slide .pod_slide_image{
width: 100%;
border-radius: 50%;
border: 5px solid #f2f2f2;
}
.pod_panels {
  color: black;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 4cm;
  box-shadow: 0 3px 6px 3px rgb(207, 205, 205);
  background: #f2f2f2;
  border-radius: 10px;
  padding-bottom: 3px;
  margin-bottom: 1cm;
  cursor: pointer;
}

/* action button */

.action_tab_container {
  position: absolute;
  bottom: 0;
  margin: 20px;
  width: auto;
}

.action_tab {
  display: flex;
  border-radius: 10px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.5); /* Adjust the alpha value (0.5 in this example) to control transparency */
  border: 1px solid #ccc;

  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.action_tab_container .action_tab .action_button {
  padding-right: 20px ;
  padding-left: 20px ;
   color: #ffffff;
  font-size: 18px;
   transition: transform 0.5s ease-in-out; /* Add a smooth transition effect */
}
.action_tab_container .action_tab .action_button :hover{
  color: #833ab4;
   transform: scale(1.0); /* Increase the size on hover */
}

/* artist card */
.artist_card{
  border-radius: 10px;
  padding: 1px;
  margin:1px;
  font-family: 'Karla', sans-serif;
  font-family: 'Signika', sans-serif;
  color: black;
  font-weight: bold;
  font-weight: 400;
}
.artist_card .artist_qoute {
color:#f2f2f2;
font-size:24px;
}
.artist_card .artist_name{
color:#fff;
font-size:22px;
}
.artist_card .podcast_title{
  color:#f3f3f3;
   font-size: 16px;
   margin:2px;
}
