@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;600&display=swap');

/* .App{
  background-image: url(/src/assets/home.png);
  background-size: cover;
  height: 525px;
  width: 100%;
  background-repeat: no-repeat;
} */


